html {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 100%;
    font-family: 'Ubuntu', sans-serif;
}
body::after{ content:''; display:block; height:100px; }
a{
    text-decoration: none;
}
.p-1 {
    padding: 10px;
}
.px-1 {
    padding: 10px 0;
}
.py-1 {
    padding: 0 10px;
}
.py-3 {
    padding: 0 30px;
}
.py-5 {
    padding: 0 50px;
}
.mx-2 {
    margin: 20px 0;
}
.col-2 {
    width: 16%;
}
.col-10 {
    width: 80%;
}
.my-1{
    margin: 0 10px;
}
.mt-3 {
    margin-top: 30px;
}
.d-flex {
    display: flex;
}
/* main style */
.main {
    height: 1000px;
}
/* header of website */
#header {
    background: #fff;
    box-shadow: 0 1px 6px 0 #20212447;
}
.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}
#menu {
    position: relative;
    z-index: 1000;
    height: 60px;
    width: 300px;
}
#menu ul {
    list-style: none;
}
#menu ul li {
    float: left;
    padding: 3px;
}
#menu ul li a {
    padding: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
}
#menu ul li i {
    font-size: 30px;
    color: #fff;
}
#menu ul li:hover {
    background: #444;
    transition-property: background-color;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    color: #fff;
}
.three-lines-menu {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #444;
    font-size: 32px;
    display: none;
}
#menu ul {
    display: none;
    padding: 60px 0;
}
#menu ul li {
    display: flex;
    justify-content: start;
    align-items: center;
    float: none;
    padding: 10px;
    background: #555;
}
#menu ul.menu-responsive {
    display: block;
    margin-top: 0;
    float: right;
    opacity: 0.9;
    width: 100%;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition:all 1s;
}
.toggle-icon {
    cursor: pointer;
    display: inline-block;
    width: 34px;
    height: 43px;
    position: absolute;
    color: #000;
    bottom: 10px;
    right: 10px;
}
.toggle-icon span {
    margin-top: 18px;
}
.toggle-icon span, .toggle-icon span:before, .toggle-icon span:after {
    cursor: pointer;
    border-radius: 3px;
    height: 4px;
    width: 100%;
    background: #000;
    position: absolute;
    display: block;
    content: '';
    -webkit-transition: all 500ms cubic-bezier(0.615, 0.25, 0.505, 1.47);
    -moz-transition: all 500ms cubic-bezier(0.615, 0.25, 0.505, 1.47);
    transition: all 500ms cubic-bezier(0.615, 0.25, 0.505, 1.47);
}
.toggle-icon span:before {
    top: -10px;
}
.toggle-icon span:after {
    bottom: -10px;
}
.active {
    border: 1px solid #000;
}
.toggle-icon.active span {
    background-color: transparent;
}
.toggle-icon.active span:before, .toggle-icon.active span:after {
    top: 0;
}
.toggle-icon.active span:before {
    -webkit-transform: rotate(45deg) scale(1.2);
    -moz-transform: rotate(45deg) scale(1.2);
    -ms-transform: rotate(45deg) scale(1.2);
    -o-transform: rotate(45deg) scale(1.2);
    transform: rotate(45deg) scale(1.2);
}
.toggle-icon.active span:after {
    -webkit-transform: rotate(-45deg) scale(1.2);
    -moz-transform: rotate(-45deg) scale(1.2);
    -ms-transform: rotate(-45deg) scale(1.2);
    -o-transform: rotate(-45deg) scale(1.2);
    transform: rotate(-45deg) scale(1.2);
}
.user-info {
    position: absolute;
    display: flex;
    right: 50px;
    align-items: center;
    bottom: 15px;
    cursor: pointer;
}
.avatar-info {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 200px;
    
}
.avatar-user {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
/* Register section */
.register-container {
    height: 1000px;
}
.register-hero-inner {
    position: relative;
    height: 400px;
}

.register-content {
    position: absolute;
    top: 160px;
    left: 0;
    width: 100%;
    display: flex;
}
.register-content-inner {
    width: 25%;
    margin: 0 auto;
    height: auto;
}
.register-content-container {
    width: 100%;
    padding-top: 30px;
}
.register-content-title {
    font-weight: 100;
}
.register-content-subtitle {
    font-size: 13px;
    line-height: 20px;
    padding: 10px 0px;
}
.btn-register {
    background-color: #000;
    color: #fff;
    border: 0px;
    padding: 20px 34px;
    font-size: 20px;
    margin: 84px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}
.register-arrow {
    font-size: 30px;
}
/* hero section */
.hero-image {
    background-image: url('../images/hero-image.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 850px;
}
.hero-form-phone, .hero-form-otp, .hero-form-info, .hero-form-contact-us {
    position: relative;
}
.hero-form-phone {
    top:30%;
}
.hero-form-otp {
    top: 20%;
}
.hero-form-info {
    top: 10%;
}
.hero-form-contact-us {
    top: 30%;
}
.form-phone, .form-otp, .form-info {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    background-color: #f5f5f5;
    opacity: 0.9;
    padding: 30px;
   /* xoá nha */
}
/* Phone style */
.form-phone-inner {
    display: flex;
}
.form-phone_title {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 35px;
}
.form-input-text {
    padding: 16px;
    border: 0px;
    width: 90%;
    outline: none;
    font-size: 18px;
    box-shadow: 4px 4px 4px #00000033;
}
.phone-label {
    color: #8f8f8f;
    font-size: 18px;
    padding-top: 16px;
    padding-right: 16px;
    padding-right: 10px;
    text-align: right;
}
.agree-term {
    color: #808080;
    font-size: 15px;
}
/* otp style */
.form-opt_subtitle {
    color: #272424;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 20px;
}
.form-opt_subtitle a, .code-text {
    font-size: 15px;
    color: #60a9b9;
}
.form-opt-phone-inner {
    display: flex;
    margin-bottom: 80px;
    margin-top: 50px;
}
.otp-number {
    flex: 1 1 auto;
    width: 20%;
    margin-right: 10px;
    border: 0px;
    background-color: #fff;
    padding: 14px 5px;
    text-align: center;
    font-size: 18px;
    outline: none;
    box-shadow: 4px 4px 4px #00000033;
}
.form-otp-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.custom-button {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background: #FFF;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px #808080;
    transition: all 0.5s ease-in-out 0s;
}
.arrow {
    font-size: 35px;
    content: "\2192";
    width: 100%;
    padding: 0 8px;
}
/* Infomation style */
.form-info-title {
    font-size: 30px;
    font-weight: 100;
    margin: 10px 0px;
}
.form-info-input {
    padding: 16px;
    border: 0px;
    width: 90%;
    outline: none;
    font-size: 18px;
    box-shadow: 4px 4px 4px #00000033;
}
.gender-title {
    padding: 10px 16px;
    display: block;
    margin: 0px;
    color: #808080;
}
.male, .female {
    padding: 0px;
    margin-right: 20px;
    border-radius: 50%;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out 0s;
}
#register-gender [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
#register-gender [type=radio] + img {
    cursor: pointer;
}
#register-gender [type=radio]:checked + img {
    box-shadow: 0px 0px 8px 4px #888888;
    outline: none;
    border-radius: 50%;
}
#register-gender .image-button:hover, #register-gender .image-button:focus {
    box-shadow: 1px 1px 10px 1px #888888;
}
.info-image-inner {
    display: flex;
    align-items: center;
}
.media-container {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 120px;
    height: 120px;
    vertical-align: middle 
}
.media-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #b4b4b499;
}
#media-input {
    display: block;
    width: 120px;
    height: 120px;
    line-height: 120px;
    opacity: 0;
    position: relative;
    cursor: pointer;
    z-index: 9;
}
.media-camera {
    display: block;
    color: #ffffff;
    font-size: 2em;
    height: 120px;
    line-height: 200px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
    padding: 0px;
    width: 100%;
    text-align: center;
}
.media-object {
    top: 0;
    left: 0;
    margin: 0px;
    padding: 0px;
}
.img-object {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: block;
}
.upload-image-text {
    color: #353b50;
    font-size: 15px;
}
/* Booking pickup */
#map {
    height: 95%;
}
#booking-pickup-container {
    position: absolute;
    top: 100px;
    left: 30px;
}
.booking-pickup {
    display: flex;
    justify-content:start;
    align-items:center;
}
.searchbox-container-icon {
    position: absolute;
    z-index: 1003;
    margin-left: 25px;
}
.searchbox-icon {
    display: block;
    cursor: pointer;
    padding: 10px 10px;
    background-color: #464c5f;
}
.searchbox-pickup, .searchbox-destination {
    position: relative;
    background: #fff;
    box-sizing: border-box;
    height: 65px;
    border-bottom: 1px solid transparent;
    padding: 20px 60px;
    transition-duration: 0.3s;
    box-shadow: 0 1px 2px 0 #3c40434d, 0 1px 3px 1px #3c404326;
}
.searchbox-pickup {
    width: 392px;
}
.searchbox-destination {
    width: 580px;
}
form #pac-input {
    color: inherit;
    width: 100%;
    margin: 0 ;
    padding: 0 ;
    outline: 0;
    border: none;
    background-color: transparent;
    z-index: 6;
    left: 0px;
    height: 24px;
    line-height: 24px;
    vertical-align: top;
    transition-property: color;
    transition-duration: 0.3s;
    color: #454b5f;
    font-size: 15px;
    font-weight: 700;
}
.searchbox-btn-search {
    position: absolute;
    right: 20px;
}
.searchbox-btn-search button {
    background: transparent;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    list-style: none;
    margin: 0;
    outline: 0;
    cursor: pointer;
    overflow: visible;
    padding: 0;
    vertical-align: baseline;
}
 #results {
    position: relative !important;
    top: 0px;
    left: 0px;
    opacity: 0.9;
    background-color: #f2f4f5;
}
.results-pickup {
    width: 392px;
    min-width: 392px;
}
.results-destination {
    width: 580px;
    min-width: 580px;
}
.pac-container {
    position: relative;
    text-align: left;
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    border: 0px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 4px #00000033;
    font-size: 15px;
    overflow: hidden;
    left: 30px;
    top: 148px; /* todo */
}
.pac-container:after{
    content:none;
}
#results .pac-item {
    padding: 12px 25px;
    border: 0px;
    height: 50px;
    cursor: pointer;
}
.pac-item>span:last-child {
    color: #808080;
    font-size: 11px;
    display: block;
    padding-left: 37px;
}
#results .pac-icon {
    background-image: url('../images/place.png');
    background-repeat: no-repeat ;
    background-size: 100%;
    height: 26px;
    width: 26px;
}
#results .pac-icon-marker {
    background-position: 0px;
}
/* Booking Destination */
#booking-destination-container {
    position: absolute;
    top: 100px;
    left: 30px;
}
.booking-destination {
    display: flex;
    justify-content:start;
    align-items:center;
}
.booking-destination-item {
    display: flex;
    justify-content: start;
    padding: 15px 25px;
    cursor: pointer;
}
.booking-destination-item:hover {
    background-color: #dee0e0;
}
.booking-destination-padding {
    padding: 15px 25px;
}
.booking-destination-icon {
    background-image: url('../images/icon-1.png');
}
.booking-destination-text-title {
    font-size: 18px;
    font-weight: 500;
}
.booking-destination-subtitle {
    color: #808080;
    font-size: 12px;
}
.booking-destination-nearby-image-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
}
.booking-destination-nearby-image-item {
    height: 100%;
    width: 48%;
    cursor: pointer;
}
.image-wrap {
    position: relative;
}
.booking-destination-nearby-info {
    position: absolute;
    top: 280px;
    left: 40px;
    color: #fff;
}
.info-name {
    font-weight: 100;
    font-size: 15px;
    margin: 0 
}
.info-address {
    font-size: 11px;
    margin: 5px 0;
    color: #97a6ad 
}
.images-1 {
    background-image: url('../images/destination-restaurant-1.png');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: 100%;
}
.images-2 {
    background-image: url('../images/destination-restaurant-2.png');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: 100%;
}
.destination-friend-item {
    background-color: #fff;
    width: 16.67%;
    margin-right: 20px;
    padding: 10px;
    height: 100%;
    border-radius: 7px;
    box-shadow: 0 1px 2px 0 #3c40434d, 0 1px 3px 1px #3c404326;
}
.destination-checkbox {
    top: 0;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
}
.destination-checkbox:checked:before {
    -webkit-transform: rotate(-45deg) scale(1, 1);
    -moz-transform: rotate(-45deg) scale(1, 1);
    -ms-transform: rotate(-45deg) scale(1, 1);
    -o-transform: rotate(-45deg) scale(1, 1);
    transform: rotate(-45deg) scale(1, 1);
}
.destination-checkbox:before {
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -webkit-transform: rotate(-45deg) scale(0, 0);
    -moz-transform: rotate(-45deg) scale(0, 0);
    -ms-transform: rotate(-45deg) scale(0, 0);
    -o-transform: rotate(-45deg) scale(0, 0);
    transform: rotate(-45deg) scale(0, 0);
    content: "";
    position: absolute;
    left: 2px;
    top: 4px;
    z-index: 1;
    width: 10px;
    height: 5px;
    border: 1px solid #000;
    border-top-style: none;
    border-right-style: none;
}
.destination-checkbox:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    background: #f2f2f2;
    border: 0px;
    cursor: pointer;
}
/* Booking confirm section */
#booking-confirm-container {
    position: absolute;
    top: 100px;
    left: 30px;
    padding: 10px 0px;
    background-color: #f2f4f5;
    width: 580px;
}
.booking-confirm {
    justify-content:start;
    align-items:center;
}
.booking-confirm-inner {
    padding: 15px 25px;
    display: flex;
    justify-content: start;
    background-color: #fff;
    margin: 10px 0;
}
.booking-confirm-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.booking-confirm-wrap-right {
    cursor: pointer;
}
.booking-confirm-icon {
    background-image: url('../images/icon-1.png');
}
.booking-confirm-text-title {
    font-size: 18px;
    font-weight: 500;
}
.booking-confirm-subtitle {
    color: #808080;
    font-size: 14px;
}
.booking-confirm-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.booking-confirm-footer-right, .booking-confirm-footer-left {
    display:flex;
    align-items: center;
    cursor: pointer;
}
.booking-confirm-footer-button {
    background-color:#000;
    padding: 15px 70px;
    border-radius: 10px;
    color: #fff;
    border: 0px;
    outline: none;
    cursor: pointer;
}
.hidden-farebreak {
    position:absolute; 
    top: 65%; 
    right: 12%; 
    background-color: #fff;
    display: none;
}
.farebreak {
    position: absolute;
    top: 65%;
    right: 12%;
    padding: 20px;
    background-color: #fff;
    display: block;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 #3c40434d, 0 1px 3px 1px #3c404326;
}
/* Contact us section */
.form-contact-us {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    background-color: #f5f5f5;
    opacity: 0.9;
    padding: 30px;
}
.form-contact-us-header {
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.form-contact-us-title {
    font-size: 40px;
    font-weight: 100;
    margin: 0 5px;
}
.form-contact-us-content {
    display:flex;
    justify-content:space-between;
}
.cu-content-item {
    width:50%;
    padding: 30px 30px 30px 0;
}
.contact-field-wrap {
    position: relative;
    width: 100%;
    margin: 20px 0;
}
.field-input + .label-input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 25%;
    text-align: center;
    background: white;
    font-size: 21px;
    color: #000;
    font-weight: 100;
    transition: transform 0.3s ease-in-out;
}
.field-input {
    height: 56px;
    width: 75%;
    padding-left: 25%;
    color: #5a5f73;
    font-size: 20px;
    left: 20px;
    border: 0px;
    transition: padding-left 0.3s ease;
}
input::placeholder {
    color: #5a5f73;
}
.content-controls .control {
    position: relative;
}
.custom-select-wrap {
    border-radius: 3px;
    background: #fff;
}
.custom-select-wrap select {
    z-index: 0;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    height: 42px;
    line-height: 56px;
    font-size: 18px;
    color: #5a5f73;
    background: transparent;
}
.custom-select-wrap .select-icon {
    z-index: 1;
    padding: 1px;
    position: absolute;
    width: 18px;
    height: 18px;
    right: 6px;
    top: 12px;
    pointer-events: none;
}
.custom-select-wrap .select-icon svg {
    width: 14px;
    height: 30px;
    position: absolute;
    fill: #5a5f73;
    padding: 1px;
}
.form-footer {
    display: flex;
    float: right;
}
/* Guide section */
.hero-inner {
    position: relative;
    top: 30px;
}
.guide-content-step {
    display: flex;
    justify-content: space-between;
}
.guide-content, .value-content{
    width: 90%;
    height: 100%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    opacity: 0.9;
}
.guide-childcontent {
    width: 50%;
}
.guide-content-left-inner {
    width: 45%;
}
.guide-content-right-inner {
    width: 55%;
}
.guide-title, .value-title {
    font-size: 30px;
    margin: 0px;
    font-weight: 100;
}
.guide-how-content, .value-subtitle{
    display: flex;
    font-size: 16px;
    color: rgb(61, 61, 61);
    font-weight: 100;
    margin: 30px 0;
}
/* .guide-step{
    margin: 30px;
    width: 70%;
} */
.guide-step-title{
    color: #3d4356;
    margin: 0px;
    font-weight: 400;
    font-size: 20px;
}
.guide-step-subtitle {
    color: #a3a5ac;
    font-size: 14px;
    font-weight: 200;
    line-height: 30px;
}
/* Value section */
.value-item {
    margin: 30px 0;
}
.value-item-title {
    color: #3d4356;
    font-size: 22px;
    font-weight: 300;
}
.value-item-subtitle {
    color: #a3a5ac;
    font-size: 16px;
    font-weight: 100;
}
/* Footer section */
.footer {
    position: absolute;
    bottom: 0;
    width: 98%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e4e6e8;
}
.copyright {
    font-size: 12px;
    color: #808080;
}
.copy-list-item {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 0;
}
.terms {
    padding-right: 20px;
    border-right: 1px solid;
    cursor: pointer;
    color: #808080;
}
.legal {
    padding: 0 20px;
    border-right: 1px solid;
    cursor: pointer;
    color: #808080;
}
.privacy {
    padding: 0 20px;
    cursor: pointer;
    color: #808080;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .main {
        height: 500px;
    }
    /* responsive for booking  */
    #booking-confirm-container {
        width: 90%;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 0px;
    }
    .booking-confirm-inner {
        padding: 10px;
        line-height: 20px;
    }
    .booking-confirm-inner img {
        width: 20px;
        height: 20px;
    }
    .booking-confirm-text-title {
        font-size: 15px;
    }
    .booking-confirm-subtitle {
        font-size: 10px;
    }
    .booking-confirm-wrap {
        display: block;
        padding: 0 30px;
    }
    .booking-confirm-footer-button {
        padding: 10px 40px;
        border-radius: 5px;
    }
    .farebreak {
        top: 74%;
        left: 17%;
        right: 11%;
        padding: 10px;
    }
    /* Responsive for destination */
    #booking-destination-container {
        width: 90%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .searchbox-container-icon {
        margin-left: 20px;
    }
    .searchbox-pickup, .searchbox-destination {
        padding: 20px 45px;
    }
    .results-destination {
        width: 100%;
        min-width: 100%;
    }
    .results-destination .px-1 {
        padding: 5px 0px;
    }
    .booking-destination-item, .booking-destination-padding {
        padding: 10px 20px;
        line-height: 15px;
    }
    .booking-destination-item img {
        width: 20px;
        height: 20px;
    }
    .booking-destination-text-title {
        font-size: 15px;
    }
    .booking-destination-subtitle {
        font-size: 10px;
    }
    .booking-destination-nearby-image-inner {
        height: 65px;
    }
    .booking-destination-nearby-info {
        top: 170px;
        left: 25px;
        line-height: 7px;
    }
    .info-name {
        font-size: 10px;
    }
    .info-address {
        font-size: 8px;
    }
    .destination-friend-item {
        width: 20%;
        margin-right: 10px;
        padding: 5px;
    }
    .destination-friend-item img {
        width: 24px;
        height: 24px;
    }
    .destination-friend-item .booking-destination-text-title {
        font-size: 10px;
    }
    .destination-friend-item .booking-destination-subtitle {
        font-size: 7px;
    }
    /* responsive for booking pickup */
    #booking-pickup-container {
        width: 90%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .results-pickup {
        width: 100%;
        min-width: 100%;
    }
    #booking-pickup-container .pac-item {
        padding: 10px 20px;
        line-height: 20px;
    }
    #booking-pickup-container .pac-icon {
        height: 20px    ;
        width: 20px;
        margin-right: 2px;
        margin-top: 0px;
    }
    #booking-pickup-container .pac-item>span:last-child {
        padding-left: 25px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    /* Responsive for register info */
    .hero-image {
        height: 500px;
        background-size: cover;
        background-position: center;
    }
    .form-info, .form-otp, .form-phone {
        width: 85%;
        padding: 2.5%;
        margin: 0 auto;
    }
    .form-info-title {
        font-size: 20px;
        margin: 5px 0;
    }
    .form-info .mx-2 {
        margin: 10px 0;
    }
    .form-info-input {
        padding: 10px;
        font-size: 16px;
    }
    #register-gender img {
        width: 50px;
        height: 50px;
    }
    .male, .female {
        margin-right: 5px;
    }
    .media-container, .img-object, .media-camera, .custom-button {
        width: 70px;
        height: 70px;
    }
    /* Responsive for register otp */
    .hero-form-otp {
        top: 10%;
    }
    .form-opt-phone-inner {
        margin-bottom: 40px;
        margin-top: 30px;
    }
    /* Responsive for register phone */
    .hero-form-phone {
        top: 10%;
    }
    .form-phone-inner {
        margin: 10px 0;
    }
    .form-phone_title {
        font-size: 20px;
    }
    .phone-label {
        padding: 10px 0px;
    }
    .form-input-text {
        padding: 10px;
        font-size: 16px;
    }
    /* Responsive for register */
    .register-container {
        height: 100%;
    }
    .register-content {
        top: 95px;
    }
    .register-content-inner {
        width: 90%;
    }
    .register-content-image-inner {
        text-align: center;
    }
    .register-content-inner img {
        width: 200px;
        height: auto;
    }
    .register-content-container {
        padding-top: 10px;
    }
    .register-content-title {
        font-size: 20px;
    }
    .btn-register {
        margin: 40px 0px;
        padding: 10px 34px;
    }
    /* Responsive for guide and value */
    .guide-content, .value-content {
        padding: 2%;
    }
    .guide-title, .value-title {
        font-size: 20px;
    }
    .guide-content-step {
        display: block;
    }
    .guide-content-left-inner, .guide-content-right-inner, .guide-childcontent {
        width: 100%;
    }
    .guide-how-content, .value-subtitle {
        margin: 10px 0;
        font-size: 12px;
    }
    .guide-step-title {
        font-size: 16px;
    }
    .guide-step-subtitle {
        font-size: 12px;
        line-height: 20px;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 7px 0;
    }
    /* Responsive for Value */
    .value-subtitle {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        -webkit-line-clamp: 4;
    }
    .value-item {
        margin: 10px 0;
    }
    .value-item-title {
        font-size: 16px;
        margin: 7px 0;
    }
    .value-item-subtitle {
        font-size: 12px;
    }
    /* Responsive for header */
    .wrap .my-1{
        margin: 0;
        padding-left: 10px; 
    }
    .brand>img {
        height: 37px;
    }
    #menu {
        width: 200px;
    }
    #menu ul li {
        padding: 0px;
    }
    #menu ul.menu-responsive {
        margin: 0px;
    }
    /* Responsive for footer */
    .footer {
        padding: 5px;
    }
    .footer img {
        width: 15px;
        height: 15px;
    }
    .copyright {
        font-size: 10px;
    }
    .terms {
        margin: 5px 0;
        padding-right: 5px;
        font-size: 8px;
    }
    .legal {
        margin: 5px 0;
        padding: 0 5px;
        font-size: 8px;
    }
    .privacy {
        margin: 5px 0;
        padding: 0 5px;
        font-size: 8px;
    }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
    .column {
      width: 50%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .column {
      width: 50%;
    }
}